#tailbot-btn{

position:fixed;

bottom:25px;

right:25px;

width:75px;

height:75px;

border-radius:50%;

overflow:hidden;

cursor:pointer;

z-index:99999;

box-shadow:0 10px 30px rgba(126,12,245,.4);

transition:.3s;

}

#tailbot-btn:hover{

transform:scale(1.08);

}

#tailbot-btn img{

width:100%;

height:100%;

object-fit:cover;

}

#tailbot-window{

position:fixed;

bottom:115px;

right:25px;

width:350px;

height:520px;

background:white;

border-radius:18px;

display:none;

flex-direction:column;

overflow:hidden;

z-index:99999;

box-shadow:0 10px 40px rgba(0,0,0,.25);

}

#tailbot-header{

background:#7E0CF5;

color:white;

padding:18px;

display:flex;

justify-content:space-between;

align-items:center;

font-weight:bold;

}

#tailbot-messages{

flex:1;

overflow-y:auto;

padding:15px;

background:#fafafa;

}


.bot-message{

background:#e9d8ff;

padding:12px;

border-radius:12px;

margin-bottom:10px;

max-width:85%;

}

.user-message{

background:#7E0CF5;

color:white;

padding:12px;

border-radius:12px;

margin-left:auto;

margin-bottom:10px;

max-width:85%;

}

#tailbot-input-area{

display:flex;

padding:12px;

gap:10px;

background:white;

}

#user-input{

flex:1;

padding:10px;

border-radius:10px;

border:1px solid #ccc;

}

#send-btn{

background:#7E0CF5;

color:white;

border:none;

padding:10px 18px;

border-radius:10px;

cursor:pointer;

}

#quick-buttons{

display:flex;

flex-wrap:wrap;

gap:8px;

padding:12px;

}

#quick-buttons button{

border:none;

background:#efe4ff;

padding:8px 12px;

border-radius:20px;

cursor:pointer;

}
